@use "../../styles/breakpoints.modules.scss" as mixin;

.firmFacts {
  display: flex;
  flex-direction: column;

  @include mixin.md {
  }

  &__title {
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    color: #ffffff;
  }
  &__divider {
    width: 100%;
    border: 1px solid #ffffff;
    opacity: 0.2;
    margin-top: 16px;
    margin-bottom: 48px;
  }
  &__layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    box-sizing: border-box;
  }

  &__card {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      grid-row: span 2;
      width: 364px;
      height: 662px;
    }
    &:nth-child(2) {
      grid-column: span 1;
      width: 364px;
      height: 322px;
    }
    &:nth-child(3) {
      grid-column: span 1;
      width: 364px;
      height: 322px;
    }
    &:nth-child(4) {
      grid-column: span 1;
      width: 364px;
      height: 322px;
    }
    &:nth-child(5) {
      grid-column: span 1;
      width: 364px;
      height: 322px;
    }
    &:nth-child(6) {
      grid-column: span 1;
      width: 364px;
      height: 322px;
    }
    &:nth-child(7) {
      grid-column: span 1;
      width: 364px;
      height: 322px;
    }
  }

  &__bottomRow {
    margin-top: -140px;
  }
}
